.extension-windowsTab-window-tooltip {
   text-align: center;
   color: #eeeeee;
   background: rgba(255,255,255,0.1);
   border: 1px solid rgba(128,128,128,0.40);
   border-radius: 10px;
   font-size: 16px;
   padding: 4px 16px;
   -shell-caption-spacing: 4px;
}
